.cpu-summary > p {
	margin: 0.75rem 0rem 0.75rem 0rem;
}

.table thead th {
	padding: 0rem 0.75rem 0rem 0.75rem;
}

.text-center {
	text-align: center !important;
}

input[type='file' i] {
	text-align: center !important;
}

.card {
	height: 20rem;
}

.procesos-background {
	background-color: #20cfcd;
}

.cpu-background {
	background-color: #ffdd5f;
}

.memoria-background {
	background-color: #92e161;
}
